@model IEnumerable<Taxi.BLL.ModelsDto.EmployeeDto>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	
    @foreach (var item in Model.ToList())
	{
        <table>
            <tr>
                <td>@item.Name</td>
                <td>@item.Surname</td>
                @if (item.Login == null)
				{
                    <td>------------------------------</td>
				}
				else
				{
			        <td>@item.Login</td>
                }
            </tr>
        </table>
    }

</div>
