@model string

@{
	ViewData["Title"] = "Создание роли";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Create" method="post">
	<div class="form-group w-25">
		<label for="name">Название</label>
		<input name="name" class="form-control" />
	</div>
	<button type="submit" class="btn btn-success mt-3">Создать</button>
</form>
