@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
	ViewData["Title"] = "Роли пользователей";
}

<a asp-action="UserList" class="btn btn-warning">Список пользователей</a><br />
<a asp-action="Create" class="btn btn-success mt-3">Добавить роль</a>

<table class="table table-striped mt-4">
	<tr>
		<th>Название</th>
		<th>Действия</th>
	</tr>
	@foreach (var role in Model)
	{
		<tr>
			<td>@role.Name</td>
			<td>
				<form asp-action="Delete" asp-route-id="@role.Id" method="post">
					<button type="submit" class="btn btn-sm btn-danger">
						Удалить
					</button>
				</form>
			</td>
		</tr>
	}
</table>
