@model Taxi.UI.Models.Tariffs.TariffViewModel;

@{
	ViewData["Title"] = "Добавление тарифа";
}

<form action="Create" method="post">
	<div class="form-group w-25">
		<label>Название тарифа</label>
		<input type="text" class="form-control" required maxlength="40" name="Name" />
	</div>
	<div class="form-group w-25">
		<label>Описание тарифа</label>
		<textarea class="form-control" rows="7" cols="50" style="resize: none;" required maxlength="200" name="Description"></textarea>
	</div>
	<div class="form-group w-25">
		<label>Стоимость тарифа, за км</label>
		<input type="number" class="form-control" required min="1" max="1000000" name="Price" />
	</div>
		<input type="submit" class="btn btn-success" value="Создать" />
</form>
