@model Taxi.UI.Models.Tariffs.TariffViewModel;

@{
	ViewData["Title"] = "Изменение тарифа";
}

<form action="Update" method="post">
	<input style="display: none" name="Id" type="number" value="@Model.Id" />

	<div class="form-group w-25">
		<label>Название тарифа</label>
		<input type="text" class="form-control" required maxlength="40" name="Name" value="@Model.Name" />
	</div>
	<div class="form-group w-25">
		<label>Описание тарифа</label>
		<textarea required maxlength="200" class="form-control" rows="7" cols="50" style="resize: none;" name="Description">@Model.Description</textarea>
	</div>
	<div class="form-group w-25">
		<label>Стоимость тарифа, за км</label>
		<input type="number" class="form-control" required min="1" max="1000000" name="Price" value="@Model.Price" />
	</div>
		<input type="submit" class="btn btn-primary" value="Изменить" />
</form>