@model Taxi.UI.Models.Brands.BrandViewModel;

@{
	ViewData["Title"] = "Удаление марки";
}

<ul class="list-group w-50">
	<li class="list-group-item">
		<b>Название: </b> @Model.Name
	</li>
</ul>

<form method="post">
	<input type="submit" class="btn btn-danger mt-5" asp-action="DeleteBrand" asp-route-id="@Model.Id" value="Удалить" />
</form>