@model Taxi.UI.Models.Brands.BrandViewModel;

@{
	ViewData["Title"] = "Изменения марки";
}

<form asp-action="Update" method="post">
	<div class="form-group">
		<input style="display: none" type="number" name="Id" value="@Model.Id" />

		<label>Введите новое название марки: </label>
		<input type="text" class="form-control w-25" required maxlength="30" name="Name" value="@Model.Name" />

		<input type="submit" class="btn btn-primary mt-3" value="Изменить">
	</div>
</form>


