@model Taxi.UI.Models.Accounts.AccountViewModel;

@{
	ViewData["Title"] = "Вход в приложение";
}

<form method="post" asp-controller="Account" asp-action="Login">
	<label>Введите email: </label><br />
	<input type="text" asp-for="Email" value="" /><br /><br />

	<label>Введите пароль: </label><br />
	<input type="password" asp-for="Password" value="" /><br /><br />

	<input type="submit" value="Войти" />
</form>
