@model Taxi.UI.Models.CarModels.ModelViewModel;

@{
	ViewData["Title"] = "Создание новой модели";
}

<form asp-action="Create" asp-controller="ModelCar" method="post">
	<p>
		<select asp-for="BrandId" asp-items="@(new SelectList(Model.Brands, "Id", "Name"))"></select>
	</p>


	<label>Название</label><br />
	<input type="text" name="Name" /><br /><br />

	<p>
		<label>Вид топлива</label><br />
		<select asp-for="FuelId" asp-items="@(new SelectList(Model.Fuels, "Id", "Name"))"></select>
	</p>

	<p>
		<label>Кузов</label><br />
		<select asp-for="BodyId" asp-items="@(new SelectList(Model.Bodys, "Id", "Name"))"></select>
	</p>

	<label>Мощность, л.с.</label><br />
	<input type="number" name="HP" /><br /><br />

	<label>Цена</label><br />
	<input type="text" name="Price" /><br /><br />

	<input type="submit" value="Создать" />
</form>

