@model Taxi.UI.Models.Positions.PositionViewModel;

@{
	ViewData["Title"] = "Удаление должности";
}

<ul class="list-group w-50">
	<li class="list-group-item">
		<b>Название: </b> @Model.Name
	</li>
	<li class="list-group-item" style="word-break: break-all;">
		<b>Описание: </b> @Model.Description
</ul>

<form method="post">
	<input type="submit" class="btn btn-danger mt-5" asp-action="DeletePosition" asp-route-id="@Model.Id" value="Удалить" />
</form>